<div class="container">
  <h1>Complete the Task</h1>
  <div class="question">
    <p>Count the number of zeros</p>
    <%= image_tag @stimulus.image_path, size: '250' %>
    <%= form_for @trial,  url: {action: 'create'} do |f| %>
      <%= f.label :response, 'Number of zeros:' %>
      <%= f.text_field :response %>
      <%= f.hidden_field :stimulus_id %>
      <%= f.hidden_field :experiment_session_id %>
      <%= hidden_field_tag :trial_start_time, @trial_start_time %>
      <%= hidden_field_tag :keystrokes, @keystrokes %>
      <%= f.button 'Submit', type: 'submit'%>
    <% end %>
  </div>

  <% unless @trial.response_result.nil? %>
    <div class="answer">
      <% if @trial.response_result %>
        <p>CORRECT!</p>
      <% else %>
        <p>INCORRECT</p>
        <p>You entered: <%= @trial.response %></p>
        <p>Correct response: <%= @stimulus.number_of_zeros %></p>
      <% end %>
      <%= link_to 'Next', new_trial_path(
        experiment_session_id: @trial.experiment_session_id,
        order_appeared: @trial.order_appeared,
        previous_trial_id: @trial.id,
        answer_revealed_time: @answer_revealed_time
      ), class: 'button' %>
    </div>
  <% end %>
</div>



