<h1>Introduction</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...</p>

<h3>Consent Form</h3>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br><br>
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.<br><br>
Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>

<%= form_for @experiment_session, url: {action: 'create'} do |f| %>
  <%= f.check_box :consent_given %>
  <%= f.label :consent_given, "Click to consent" %><br>
  <% flash.each do |key, value| %>
    <div class="flash-<%= key %>"><%= value %></div>
  <% end %>
  <%= f.button 'Proceed', type: 'submit'%>
<% end %>


